body {
    text-align: center;
    background-image: url('media/palette1b.png');
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    font-family: 'VT323', monospace;
}
h2, h3{
    padding: 0px;
    margin: 0px;
}

.title {
    font-size: 100px;
}

#startSettings {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-90%);
}

#turnScore {
    margin-left: 22vw;
    margin-bottom: 1vh;
}
#turnDisplay, #scoreBoard {
    border: solid;
    border-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#scoreBoard {
    margin-left: 10vw;
}
#scoreTitle {
    font-size: xx-large;
}
.score{
    margin-top: 0px;
    font-size: xx-large;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: max-content;
    margin: auto;
}

.col {
    padding-left: 5px;
}
.col:hover {
    background-color: #B4DFE5;
    border-radius: 10px;
}

.cell {
    height: 80px;
    width: 80px;
    background-color: #03396c ;
    opacity: 0.7;
    border-radius: 50%;
    border: solid;
    border-color:#B4DFE5;
}
