body {
    text-align: center;
    max-width: max-content;
    margin: auto;
}

#grid{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    
}

.cell {
    height: 80px;
    width: 80px;
    background-color: #bbb;
    border-radius: 50%;
}
