body {
    text-align: center;
    background-image: url('media/palette1b.png');
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    font-family: 'VT323', monospace;
}

h2, h3{
    padding: 0px;
    margin: 0px;
}

.title {
    font-size: 100px;

}

.btn{
    font-size: xx-large;
    border-radius: 20px;
    width: 200px;

}
.btn:hover{
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}
.btn-modal{
    font-size: x-large;
    width: 150px;
}

#optionsPage, #startPage {
    position: absolute;
    top:  15%;
    left: 30%;
    animation:transitionPage 0.75s, MoveUpDown 2s linear infinite;
    font-size: xx-large;

}
#optionsPage {
    left: 25%;
}
@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
}
@keyframes transitionPage {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);

    }
}

input {
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#mainPage{
    animation: transitionPage 0.75s;
}

#turnWait {
    opacity: 1;
    animation: fade 1.5s infinite;
}
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
#turnScore {
    margin-left: 22vw;
    margin-bottom: 1vh;
}
#turnDisplay, #scoreBoard {
    border: solid;
    border-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#scoreBoard {
    margin-left: 10vw;
}
#scoreTitle {
    font-size: xx-large;
}
.score{
    margin-top: 0px;
    font-size: xx-large;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: max-content;
    margin: auto;
}

.col {
    padding-left: 10px;
}
.col:hover {
    background-color: #B4DFE5;
    border-radius: 10px;
}

.cell {
    height: 80px;
    width: 80px;
    background-color: #03396c ;
    opacity: 0.7;
    border-radius: 50%;
    border: solid;
    border-color:#B4DFE5;
}